In [ ]:
import pickle
import pandas as pd
import numpy as np

In [ ]:
df = pickle.load(open('/content/dataset_level2.pkl','rb'))
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
251,4,West Indies,New Zealand,0.1,1,0,Wellington,Westpac Stadium
252,4,West Indies,New Zealand,0.2,1,0,Wellington,Westpac Stadium
253,4,West Indies,New Zealand,0.3,0,0,Wellington,Westpac Stadium
254,4,West Indies,New Zealand,0.4,0,0,Wellington,Westpac Stadium
255,4,West Indies,New Zealand,0.5,0,0,Wellington,Westpac Stadium
...,...,...,...,...,...,...,...,...
311691,2592,Sri Lanka,West Indies,19.2,1,0,Bangalore,M Chinnaswamy Stadium
311692,2592,Sri Lanka,West Indies,19.3,1,0,Bangalore,M Chinnaswamy Stadium
311693,2592,Sri Lanka,West Indies,19.4,0,HMRKB Herath,Bangalore,M Chinnaswamy Stadium
311694,2592,Sri Lanka,West Indies,19.5,0,NLTC Perera,Bangalore,M Chinnaswamy Stadium
311695,2592,Sri Lanka,West Indies,19.6,1,0,Bangalore,M Chinnaswamy Stadium

In [ ]:
df.isnull().sum()

match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8549
venue                  0
dtype: int64

In [ ]:
df[df['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        3092
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sylhet International Cricket Stadium        128
Sharjah Cricket Stadium                     127
Carrara Oval                                 64
Name: count, dtype: int64

In [ ]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().str[0],df['city'])

In [ ]:
df['city'] = cities

In [ ]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [ ]:
df.drop(columns=['venue'], inplace=True)

In [ ]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
251,4,West Indies,New Zealand,0.1,1,0,Wellington
252,4,West Indies,New Zealand,0.2,1,0,Wellington
253,4,West Indies,New Zealand,0.3,0,0,Wellington
254,4,West Indies,New Zealand,0.4,0,0,Wellington
255,4,West Indies,New Zealand,0.5,0,0,Wellington
...,...,...,...,...,...,...,...
311691,2592,Sri Lanka,West Indies,19.2,1,0,Bangalore
311692,2592,Sri Lanka,West Indies,19.3,1,0,Bangalore
311693,2592,Sri Lanka,West Indies,19.4,0,HMRKB Herath,Bangalore
311694,2592,Sri Lanka,West Indies,19.5,0,NLTC Perera,Bangalore
311695,2592,Sri Lanka,West Indies,19.6,1,0,Bangalore

In [ ]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [ ]:
df = df[df['city'].isin(eligible_cities)]

In [ ]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
251,4,West Indies,New Zealand,0.1,1,0,Wellington
252,4,West Indies,New Zealand,0.2,1,0,Wellington
253,4,West Indies,New Zealand,0.3,0,0,Wellington
254,4,West Indies,New Zealand,0.4,0,0,Wellington
255,4,West Indies,New Zealand,0.5,0,0,Wellington
...,...,...,...,...,...,...,...
311691,2592,Sri Lanka,West Indies,19.2,1,0,Bangalore
311692,2592,Sri Lanka,West Indies,19.3,1,0,Bangalore
311693,2592,Sri Lanka,West Indies,19.4,0,HMRKB Herath,Bangalore
311694,2592,Sri Lanka,West Indies,19.5,0,NLTC Perera,Bangalore
311695,2592,Sri Lanka,West Indies,19.6,1,0,Bangalore

In [ ]:
df['current_score'] = df.groupby('match_id')['runs'].cumsum()

<ipython-input-14-ceeb700eb00c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [ ]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
251,4,West Indies,New Zealand,0.1,1,0,Wellington,1
252,4,West Indies,New Zealand,0.2,1,0,Wellington,2
253,4,West Indies,New Zealand,0.3,0,0,Wellington,2
254,4,West Indies,New Zealand,0.4,0,0,Wellington,2
255,4,West Indies,New Zealand,0.5,0,0,Wellington,2
...,...,...,...,...,...,...,...,...
311691,2592,Sri Lanka,West Indies,19.2,1,0,Bangalore,120
311692,2592,Sri Lanka,West Indies,19.3,1,0,Bangalore,121
311693,2592,Sri Lanka,West Indies,19.4,0,HMRKB Herath,Bangalore,121
311694,2592,Sri Lanka,West Indies,19.5,0,NLTC Perera,Bangalore,121
311695,2592,Sri Lanka,West Indies,19.6,1,0,Bangalore,122

In [ ]:
df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

<ipython-input-16-0dd395ce563c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
<ipython-input-16-0dd395ce563c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

In [ ]:
df['balls_bowled'] = (df['over'].astype(int)*6) + df['ball_no'].astype(int)

<ipython-input-17-7d945dadf5a9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_bowled'] = (df['over'].astype(int)*6) + df['ball_no'].astype(int)

In [ ]:
df['balls_left'] = 120 - df['balls_bowled']
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)

<ipython-input-18-c16693103769>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = 120 - df['balls_bowled']
<ipython-input-18-c16693103769>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)

In [ ]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
251,4,West Indies,New Zealand,0.1,1,0,Wellington,1,0,1,1,119
252,4,West Indies,New Zealand,0.2,1,0,Wellington,2,0,2,2,118
253,4,West Indies,New Zealand,0.3,0,0,Wellington,2,0,3,3,117
254,4,West Indies,New Zealand,0.4,0,0,Wellington,2,0,4,4,116
255,4,West Indies,New Zealand,0.5,0,0,Wellington,2,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
311691,2592,Sri Lanka,West Indies,19.2,1,0,Bangalore,120,19,2,116,4
311692,2592,Sri Lanka,West Indies,19.3,1,0,Bangalore,121,19,3,117,3
311693,2592,Sri Lanka,West Indies,19.4,0,HMRKB Herath,Bangalore,121,19,4,118,2
311694,2592,Sri Lanka,West Indies,19.5,0,NLTC Perera,Bangalore,121,19,5,119,1
311695,2592,Sri Lanka,West Indies,19.6,1,0,Bangalore,122,19,6,120,0

In [ ]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
df['player_dismissed'] = df['player_dismissed'].astype(int)
df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()
df['wickets_left'] = 10 - df['player_dismissed']
df

<ipython-input-20-34c35f56f3bb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
<ipython-input-20-34c35f56f3bb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].astype(int)
<ipython-input-20-34c35f56f3bb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()
<ipython-input-20-34c35f56f3bb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wickets_left'] = 10 - df['player_dismissed']

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
251,4,West Indies,New Zealand,0.1,1,0,Wellington,1,0,1,1,119,10
252,4,West Indies,New Zealand,0.2,1,0,Wellington,2,0,2,2,118,10
253,4,West Indies,New Zealand,0.3,0,0,Wellington,2,0,3,3,117,10
254,4,West Indies,New Zealand,0.4,0,0,Wellington,2,0,4,4,116,10
255,4,West Indies,New Zealand,0.5,0,0,Wellington,2,0,5,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
311691,2592,Sri Lanka,West Indies,19.2,1,7,Bangalore,120,19,2,116,4,3
311692,2592,Sri Lanka,West Indies,19.3,1,7,Bangalore,121,19,3,117,3,3
311693,2592,Sri Lanka,West Indies,19.4,0,8,Bangalore,121,19,4,118,2,2
311694,2592,Sri Lanka,West Indies,19.5,0,9,Bangalore,121,19,5,119,1,1
311695,2592,Sri Lanka,West Indies,19.6,1,9,Bangalore,122,19,6,120,0,1

In [ ]:
df['crr'] = (df['current_score']*6)/df['balls_bowled']
df

<ipython-input-21-dd66b92f3bcf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crr'] = (df['current_score']*6)/df['balls_bowled']

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
251,4,West Indies,New Zealand,0.1,1,0,Wellington,1,0,1,1,119,10,6.000000
252,4,West Indies,New Zealand,0.2,1,0,Wellington,2,0,2,2,118,10,6.000000
253,4,West Indies,New Zealand,0.3,0,0,Wellington,2,0,3,3,117,10,4.000000
254,4,West Indies,New Zealand,0.4,0,0,Wellington,2,0,4,4,116,10,3.000000
255,4,West Indies,New Zealand,0.5,0,0,Wellington,2,0,5,5,115,10,2.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311691,2592,Sri Lanka,West Indies,19.2,1,7,Bangalore,120,19,2,116,4,3,6.206897
311692,2592,Sri Lanka,West Indies,19.3,1,7,Bangalore,121,19,3,117,3,3,6.205128
311693,2592,Sri Lanka,West Indies,19.4,0,8,Bangalore,121,19,4,118,2,2,6.152542
311694,2592,Sri Lanka,West Indies,19.5,0,9,Bangalore,121,19,5,119,1,1,6.100840
311695,2592,Sri Lanka,West Indies,19.6,1,9,Bangalore,122,19,6,120,0,1,6.100000

In [ ]:
groups = df.groupby('match_id')

match_ids = df['match_id'].unique()
last_five = []
for id in match_ids:
  last_five.extend(groups.get_group(id)['runs'].rolling(window=30).sum().values.tolist())

In [ ]:
df['last_five'] = last_five

<ipython-input-26-83d24d575aa4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_five'] = last_five

In [ ]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
251,4,West Indies,New Zealand,0.1,1,0,Wellington,1,0,1,1,119,10,6.000000,NaN
252,4,West Indies,New Zealand,0.2,1,0,Wellington,2,0,2,2,118,10,6.000000,NaN
253,4,West Indies,New Zealand,0.3,0,0,Wellington,2,0,3,3,117,10,4.000000,NaN
254,4,West Indies,New Zealand,0.4,0,0,Wellington,2,0,4,4,116,10,3.000000,NaN
255,4,West Indies,New Zealand,0.5,0,0,Wellington,2,0,5,5,115,10,2.400000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311691,2592,Sri Lanka,West Indies,19.2,1,7,Bangalore,120,19,2,116,4,3,6.206897,40.0
311692,2592,Sri Lanka,West Indies,19.3,1,7,Bangalore,121,19,3,117,3,3,6.205128,40.0
311693,2592,Sri Lanka,West Indies,19.4,0,8,Bangalore,121,19,4,118,2,2,6.152542,40.0
311694,2592,Sri Lanka,West Indies,19.5,0,9,Bangalore,121,19,5,119,1,1,6.100840,35.0
311695,2592,Sri Lanka,West Indies,19.6,1,9,Bangalore,122,19,6,120,0,1,6.100000,35.0

In [ ]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df, on='match_id')

In [ ]:
final_df

,match_id,runs_x,batting_team,bowling_team,ball,runs_y,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
0,4,159,West Indies,New Zealand,0.1,1,0,Wellington,1,0,1,1,119,10,6.000000,NaN
1,4,159,West Indies,New Zealand,0.2,1,0,Wellington,2,0,2,2,118,10,6.000000,NaN
2,4,159,West Indies,New Zealand,0.3,0,0,Wellington,2,0,3,3,117,10,4.000000,NaN
3,4,159,West Indies,New Zealand,0.4,0,0,Wellington,2,0,4,4,116,10,3.000000,NaN
4,4,159,West Indies,New Zealand,0.5,0,0,Wellington,2,0,5,5,115,10,2.400000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83640,2592,122,Sri Lanka,West Indies,19.2,1,7,Bangalore,120,19,2,116,4,3,6.206897,40.0
83641,2592,122,Sri Lanka,West Indies,19.3,1,7,Bangalore,121,19,3,117,3,3,6.205128,40.0
83642,2592,122,Sri Lanka,West Indies,19.4,0,8,Bangalore,121,19,4,118,2,2,6.152542,40.0
83643,2592,122,Sri Lanka,West Indies,19.5,0,9,Bangalore,121,19,5,119,1,1,6.100840,35.0
83644,2592,122,Sri Lanka,West Indies,19.6,1,9,Bangalore,122,19,6,120,0,1,6.100000,35.0

In [ ]:
final_df = final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [ ]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
0,West Indies,New Zealand,Wellington,1,119,10,6.000000,NaN,159
1,West Indies,New Zealand,Wellington,2,118,10,6.000000,NaN,159
2,West Indies,New Zealand,Wellington,2,117,10,4.000000,NaN,159
3,West Indies,New Zealand,Wellington,2,116,10,3.000000,NaN,159
4,West Indies,New Zealand,Wellington,2,115,10,2.400000,NaN,159
...,...,...,...,...,...,...,...,...,...
83640,Sri Lanka,West Indies,Bangalore,120,4,3,6.206897,40.0,122
83641,Sri Lanka,West Indies,Bangalore,121,3,3,6.205128,40.0,122
83642,Sri Lanka,West Indies,Bangalore,121,2,2,6.152542,40.0,122
83643,Sri Lanka,West Indies,Bangalore,121,1,1,6.100840,35.0,122
83644,Sri Lanka,West Indies,Bangalore,122,0,1,6.100000,35.0,122

In [ ]:
final_df.isnull().sum()

batting_team         0
bowling_team         0
city                 0
current_score        0
balls_left           0
wickets_left         0
crr                  0
last_five        19909
runs_x               0
dtype: int64

In [ ]:
final_df.dropna(inplace=True)

<ipython-input-33-3665e38311c9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

In [ ]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
crr              0
last_five        0
runs_x           0
dtype: int64

In [ ]:
final_df = final_df.sample(final_df.shape[0])

In [ ]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
54856,Pakistan,New Zealand,Christchurch,125,17,6,7.281553,42.0,158
77298,Sri Lanka,New Zealand,Auckland,74,82,7,11.684211,52.0,196
50513,South Africa,England,Centurion,116,48,7,9.666667,33.0,222
45455,Bangladesh,Australia,Dhaka,68,35,6,4.800000,25.0,104
53440,India,New Zealand,Delhi,60,69,10,7.058824,34.0,202
...,...,...,...,...,...,...,...,...,...
29751,South Africa,England,Southampton,86,34,7,6.000000,29.0,142
72332,West Indies,Pakistan,Abu Dhabi,73,33,5,5.034483,30.0,103
23145,New Zealand,India,Auckland,115,16,6,6.634615,34.0,132
24696,South Africa,India,Johannesburg,75,71,9,9.183673,45.0,219
24320,India,South Africa,Johannesburg,97,73,8,12.382979,54.0,203

In [ ]:
from sklearn.model_selection import train_test_split

x = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=1)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error

In [ ]:
trf = ColumnTransformer([
    ('trf', OneHotEncoder(drop='first'),['batting_team','bowling_team','city'])
],remainder='passthrough')

In [ ]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler(with_mean=False)),
    ('step3',XGBRegressor(n_estimators=1000, learning_rate=0.2, max_depth=12, random_state=1))
])

In [ ]:
pipe.fit(x_train,y_train)
y_pred = pipe.predict(x_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test, y_pred))

0.9874808192253113
1.8445392847061157

In [ ]:
pickle.dump(pipe, open('pipe.pkl','wb'))

In [ ]:
df['batting_team'].unique()

array(['West Indies', 'Pakistan', 'India', 'South Africa', 'England',
       'Australia', 'New Zealand', 'Sri Lanka', 'Bangladesh'],
      dtype=object)

In [ ]:
eligible_cities

['Colombo',
 'Dubai',
 'Johannesburg',
 'Mirpur',
 'Auckland',
 'Sydney',
 'Cape Town',
 'Dhaka',
 'Lahore',
 'London',
 'Durban',
 'Melbourne',
 'Pallekele',
 'Wellington',
 'Barbados',
 'Centurion',
 'Christchurch',
 'Lauderhill',
 'Abu Dhabi',
 'Mount Maunganui',
 'Southampton',
 'Gros Islet',
 'Manchester',
 'Nottingham',
 'St Lucia',
 'Karachi',
 'Kolkata',
 'Hamilton',
 'Bridgetown',
 'Cardiff',
 'Mumbai',
 'Adelaide',
 'Tarouba',
 'Birmingham',
 "St George's",
 'Kandy',
 'Perth',
 'Sharjah',
 'Chittagong',
 'Delhi',
 'Ahmedabad',
 'Providence',
 'Brisbane',
 'Chandigarh',
 'Kingston',
 'Rajkot',
 'Napier',
 'Nagpur',
 'Pune',
 'Bangalore',
 'Sylhet',
 'Dambulla',
 'Hobart',
 'Trinidad']